<!-- 
    Index:  1) Html
                1.1)  Personal information
                    1.1.1) Steps
                    1.1.2) Content
                1.2)  Choices
                    1.2.1) Steps
                    1.2.2) Content
                1.3)  Choices
                    1.3.1) Steps
                    1.3.2) Content
                1.4)  Choices
                    1.4.1) Steps
                    1.4.2) Content
            
            2) Css
                2.1) Resets
                2.2) Shadow
                2.3) Month vs Year
                2.4) Part3
                2.5) Part4?

            3) Javascript
                1) Variables
                    1.1) Buttons
                    1.2) Steps
                    1.3) Part2
                    1.4) Part3
                    1.1)
                2) Js
                    2.1) Button Clicks
                    2.2) Part 2 js
                    2.3) Month vs Year
                    2.4) Part 3 js
                    2.5) Part 4 js
                    2.1)
            4) Colors and shit
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a form...</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link src="https://cdn.tailwindcss.com"></link> <!-- Tailwind --> 
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css"> <!-- Fontawesome --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<!-- Html -->
<body class="bg-[#eef5ff]  justify-center h-[97vh] flex items-center relative -z-50">    
    <!-- Personal information -->
    <div id="first" class="h-[450px] scale-[1] bg-white w-[800px] round py-4 pl-4 shadow flex relative z-[-1]" >
        
        <!-- Steps -->
        <div class="w-[150px]  h-full  round z-10">
            <img src="../static/bg-sidebar-desktop.svg" alt="" class="absolute h-[420px] w-auto round -z-10">
            <ul class="flex flex-col gap-y-4 items-baseline py-9 pl-3">
                <li class="li-grid" >
                    <div class="flex gap-4">
                        <h1 class=" translate-y-1.5 highlighted number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">1</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP1</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">YOUR INFO</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">2</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP2</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white whitespace-nowrap">SELECT PLANS</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">3</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP3</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">ADD ONES</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">4</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP4</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">SUMMARY</h2>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- Content -->
        <div class="mx-auto mt-8" >
            <h2 class="text-3xl bold">Personal info</h2>
            <h3 class="text-gray-300 mb-6">Please provide your name, email address, and phone number</h3>
            
            <div class="relative">
                <h4 class="mt-4 text-sm text-[#344457] relative">Name</h4>
                <h5 id="InvalidUsername" class="hidden relative text-red-500 text-sm right-0 -top-1 semi-bold italic">Please enter your name</h5>
            </div>
            <input id="username" class=" Nicefont text-[#000a28] w-full text-sm  shadow-md focus:border-blue-500 border-[0.05px] border-blue-200  px-4 p-2 border-solid rounded" type="text" name="" id="" placeholder="e.g. Ravi Shankar">
            
            
            <div class="relative">
                <h4 class="mt-4 text-sm text-[#344457] relative">Phone Number</h4>
                <h5 id="InvalidPhone" class="hidden relative text-red-500 text-sm right-0 -top-1 semi-bold italic">Invalid phone number</h5>
            </div>
            <input id="phoneNumber" class=" Nicefont text-[#000a28] w-full text-sm  shadow-md focus:border-blue-500 border-[0.05px] border-blue-200  px-4 p-2 border-solid rounded" type="text" name="" id="" placeholder="e.g. 1234 567 890">
            
            <div class="relative">
                <h4 class="mt-4 text-sm text-[#344457] relative">Email Address <span class="italic">(optional)</span></h4>
                <h5 id="InvalidEmail" class="hidden relative text-red-500 text-sm right-0 -top-1 semi-bold italic">Invalid email id</h5>
            </div>
            <input id="email" class=" Nicefont text-[#000a28] w-full text-sm  shadow-md focus:border-blue-500 border-[0.05px] border-blue-200  px-4 p-2 border-solid rounded" type="text" name="" id="" placeholder="e.g. ravishankar@lorem.com">
            
            <button id="submit1" class="button bg-[#002c69] rounded text-white px-4 py-2 h-11 translate-x-[320px] translate-y-[30px] hover:bg-[#5442b9] cursor-pointer" >Next Step</button>
        </div>
    </div>

    <div id="second" class="opacity-[0] z-2 [1] scale-[1.25]  absolute z-[-10] h-[500px] bg-white w-[800px] round py-4 pl-4 shadow flex gap-10">
        <!-- Steps -->
        <div class="w-[150px]  h-[550px] mt-3 round z-10">
            <img src="../static/bg-sidebar-desktop.svg" alt="" class="absolute h-[450px] mt-15 w-auto round -z-10">
            <ul class="flex flex-col gap-y-4 items-baseline py-9 pl-3">
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">1</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP1</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">YOUR INFO</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 highlighted number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">2</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP2</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white whitespace-nowrap">SET UP PROFILE</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">3</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP3</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">ADD ONES</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">4</h1>
                        <div ">
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP4</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">SUMMARY</h2>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- Content -->
        <div class="mx-auto mt-8 w-[500px] px-6 ">
            <h2 class="text-3xl bold">Set Up Your Profile</h2>
            <h4 class="text-[#9699ab] opacity-75 mb-6">Enter your basic details to set up your profile</h4>

            <div class="flex gap-10 items-center">
                <img class="h-32 rounded-full border-[1px] shadow-lg border-purple-600 p-5 my-auto aspect-square" src="../static/Profile.png" alt="">                

                <div class="relative">
                    <form class="">
                        <div class="relative">
                            <span class="mt-4 text-sm text-[#344457] relative">Age</span>
                            <span id="InvalidAge" class="opacity-[0] relative text-red-500 text-sm ml-48 semi-bold italic">Enter age</span>
                            <input id="Age" class="mt-1 Nicefont text-[#000a28] w-full text-sm  shadow-md focus:border-blue-500 border-[0.05px] border-blue-200  px-4 p-2 border-solid rounded" type="text" name="" id="" placeholder="e.g. 35">
                        </div>

                        <div class="relative">
                            <h4 class="mt-4 text-sm text-[#344457] relative">How far can you travel?</h4>
                            <input id="Distance" class="mt-1 Nicefont text-[#000a28] w-full text-sm  shadow-md focus:border-blue-500 border-[0.05px] border-blue-200  px-4 p-2 border-solid" type="number" name="" placeholder="e.g. 5km">  
                            <h5 id="InvalidDistance" class="opacity-[0] relative text-red-500 text-sm ml-24 semi-bold italic">Enter a reasonable distance</h5>
                        </div>

                        <div class="relative flex gap-2 flex-col">
                            <h4 class="mt-4 text-sm text-[#344457] relative">Gender</h4>
                            
                            <div class="w-full py-2 flex gap-4 justify-center border-[1px] border-black ">
                                <p id="month" class="text-sm checked month">Male</p>
                                <input type="checkbox" onclick="func()" name="" id="checkbox" class="checkyyboxii shadow-md">
                                <p id="year" class="notchecked text-sm year">Female</p>
                            </div>
                        </div>

                        
                    </form>
                </div>
            </div>
            

            <div class="flex justify-between translate-y-2.5 items-center h-14 w-auto px-4 my-3 relative">
                <div id="back1" class=" inline text-[#9699ab] hover:text-[#00173a] cursor-pointer">Go Back</div>
                <div id="submit2" class=" bg-[#002c69] rounded text-white px-4 py-2 h-3/4 hover:bg-[#5442b9] cursor-pointer">Next Step</div>
            </div>
        </div>
    </div>
    
    <div id="third" class="opacity-[0] z-2 [1] scale-[1.25]  absolute z-[-10] h-[500px] bg-white w-[800px] round py-4 pl-4 shadow flex gap-10">
        <!-- Steps -->
        <div class="w-[150px]  h-[550px] mt-3 round z-10">
            <img src="../static/bg-sidebar-desktop.svg" alt="" class="absolute h-[450px] mt-15 w-auto round -z-10">
            <ul class="flex flex-col gap-y-4 items-baseline py-9 pl-3">
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">1</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP1</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">YOUR INFO</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">2</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP2</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white whitespace-nowrap">SET UP PROFILE</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 highlighted  number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">3</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP3</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">OTHER DEETS</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">4</h1>
                        <div ">
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP4</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">SUMMARY</h2>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- Content -->
        <div class="mx-auto mt-8 w-[500px] px-6 ">
            <h2 class="text-3xl bold">More Details</h2>
            <h4 class="text-[#9699ab] opacity-75 mb-6">Enter these important details</h4>

            <div class="flex gap-10 items-center">
                <div class="relative">
                    <button type="submit" value="Locate Me" class="text-xl absolute mt-1 text-white rounded-md py-2 shadow-lg w-60 h-16 text-center bg-[#032958] flex items-center justify-center gap-2 top-32" onClick="getLocation()">
                        <i class="text-2xl fa-thin fa-location-dot"></i>
                        Locate Me!</button>
                    <form class="">
                        <div class="relative">
                            <span class="mt-4 text-md text-[#344457] relative">Interests</span>
                            <span id="InvalidInterest" class="opacity-[0] relative text-red-500 text-sm ml-48 semi-bold italic">Enter at least one interest</span>
                            <input id="Interest" class="mt-1 Nicefont text-[#000a28] w-full text-sm  shadow-md focus:border-blue-500 border-[0.05px] border-blue-200  px-4 p-2 border-solid rounded" type="text" name="" id="" placeholder="e.g. Singing">
                        </div>
                        
                        <div>
                            <h4 class="mt-8 text-md text-[#344457] relative">Location</h4>
                            <input type="text" class="mt-24 opacity-0" name="latitude" id="lat" placeholder="Latitude: Locate first" value="">
                            <input type="text" class="mt-24 opacity-0" name="longitude" id="long" placeholder="Longitude: Locate first" value="">
                
                        </div>

                        <script>
                            console.log("In there")
                            var x = document.getElementById("lat");
                            console.log("Going deep")
                            var y = document.getElementById("long");
                            function getLocation() {
                            if (navigator.geolocation) {
                                console.log("That's deep")
                                navigator.geolocation.getCurrentPosition(showPosition);
                            }
                            }
                        
                            function showPosition(position) {
                                x.value = position.coords.latitude;
                                y.value = position.coords.longitude;
                            }
                        </script>
                        

                        
                    </form>
                </div>
            </div>
            

            <div class="flex mt-9 justify-between translate-y-2.5 items-center h-14 w-auto px-4 my-3 relative">
                <div id="back2" class=" inline text-[#9699ab] hover:text-[#00173a] cursor-pointer">Go Back</div>
                <div id="submit3" onclick="FixVals()" class=" bg-[#002c69] rounded text-white px-4 py-2 h-3/4 hover:bg-[#5442b9] cursor-pointer">Next Step</div>
            </div>
        </div>
    </div>

   

    <div id="fourth" class="opacity-[0] z-2 [1] scale-[1.25]  absolute z-[-10] h-[500px] bg-white w-[800px] round py-4 pl-4 shadow flex gap-10">
        <!-- Steps -->
        <div class="w-[150px]  h-[550px] mt-3 round z-10">
            <img src="../static/bg-sidebar-desktop.svg" alt="" class="absolute h-[450px] mt-15 w-auto round -z-10">
            <ul class="flex flex-col gap-y-4 items-baseline py-9 pl-3">
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">1</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP1</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">YOUR INFO</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">2</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP2</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white whitespace-nowrap">SET UP PROFILE</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 highlighted  number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">3</h1>
                        <div>
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP3</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">OTHER DEETS</h2>
                        </div>
                    </div>
                </li>
                <li class="li-grid" >
                    <div class="flex gap-4" >
                        <h1 class=" translate-y-1.5 number w-4 h-4 border-[0.5px] border-white rounded-full p-4 flex items-center justify-center text-white ">4</h1>
                        <div ">
                            <h2 class="text-[#eaeaeac5] text-sm step thin text-[13px] translate-y-1">STEP4</h2>
                            <h2 class="info text-[13px] translate-y-1 semi-bold text-white">SUMMARY</h2>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- Content -->
        <div class="w-full h-full">
            <div class="-traslate-y-4 w-full h-full items-center gap-4 flex flex-col justify-center">
                <img src="../static/icon-thank-you.svg" class="-rotate-[8deg]" alt="" width="75px">
                <h2 class="bold">Thank you!</h2>
                <h4 class="text-center">Please make sure all your details are correct by going back. <br> Thank you for signing up to vConnect. Your profile is now done. <br> Click Finish to finish</h4>
            </div>    
            
            <div class="h-14 w-auto px-4 relative">
                <form class="" method="POST" action="/d">
                    <input id="Name" name="Name" class="hidden">
                    <input id="Phone" name="Phone" class="hidden">
                    <input id="AgE" name="Age" class="hidden">
                    <input id="Gender" name="Gender" class="hidden">
                    <input id="Distances" name="Distance" class="hidden">
                    <input id="Interests" name="Interest" class="hidden">
                    <input id="Latitude" name="Latitude" class="hidden">
                    <input id="Longitude" name="Longitude" class="hidden">
            
                    <div class="-mt-14 ml-20 flex justify-between w-[400px] items-center">
                        <div id="back3" class="inline text-[#9699ab] hover:text-[#00173a] cursor-pointer">Go Back</div>
                        <input type="submit" class="bg-[#002c69] rounded text-white px-4 py-2 h-3/4 hover:bg-[#5442b9] cursor-pointer" value="Finish">
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>
    var username; var phoneNumber; var age; var distance; var age; var gender; var latitude; var longitude; var interest;
    
    function FixVals(){
        document.getElementById("Name").value = document.getElementById("username").value;
        document.getElementById("Phone").value = document.getElementById("phoneNumber").value;
        document.getElementById("AgE").value = document.getElementById("Age").value;
        document.getElementById("Distances").value = document.getElementById("Distance").value;
        document.getElementById("Interests").value = document.getElementById("Interest").value;
        document.getElementById("Latitude").value = document.getElementById("lat").value;
        document.getElementById("Longitude").value = document.getElementById("long").value;
    }

</script>

   
</body>
</html> 

<!-- Css  -->
<style>
    /* Index
        1) Resets
        2) Shadow
        3) Month vs Year
        4) Part3
        5) Part4?

    
    */

    /* Resets */
    input, .button, .card{
        font-family: 'Ubuntu';
        transition: 0.25s ;
    }
    .bg-img{
        background-image: url("static/bg-sidebar-desktop.png");
        background-size: fit;
        background-repeat: no-repeat;
        aspect-ratio: 9/16
    }

    .rounded-extra{
        border-radius: 15px;
    }

    .thin{
        font-weight: 300;
    }
    .bold {
        font-weight: 700;
    }
    .semi-bold {
        font-weight: 500;

    }
    .round{
        border-radius: 10px
    }
    .highlighted{
        background: #bde2fc;
        color: black
    }

    /* Shadow */
    .shadow{
        box-shadow: 0 0 15px -5px rgba(0,0,0,0.1);
    }
    
    .sshadow{
        box-shadow: 0 0 20px rgba(0,0,0,0.01) inset;
    }
    
    .Shadow{
        box-shadow: 0 0 25px -0px rgba(0,0,0,0.2)
    }
    

    /* Month vs Year */    
    .checkyyboxii{
        -webkit-appearance: none;
        appearance: none;
        background: #032958;
        width: 50px;
        height: 25px;
        border-radius: 100vh;
        position: relative;
    }
    .checkyyboxii::before{
        position: absolute;content:'';
        height: 70%;
        top: 4px;left:3px;
        aspect-ratio: 1/1;
        border-radius: inherit; background: white
    }
    .checkyyboxii:checked::before{
        transform: translateX(25px);
        transition: transform 0.15s ease-out;
    }
    .notchecked{
        color: hsl(231, 11%, 63%);
    }
    .checked{
        color: #032958;
    }


    /* Part 3 */
    .checked3{
        border: solid 1px #6f68fc;
    }
    .radiiooo{
        position: absolute;
        z-index: 100000;
        width: 100%;
        height: 100%;
        top:0;left:0;
        -webkit-appearance: none;
        appearance: none;
    }

    .checkradio{
        outline: 1.5px solid hsl(243, 100%, 62%);
        outline-style: inset;
    }
</style>


<!-- Javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script>
    // Index:
    //  1) Variables
    //      1.1) Buttons
    //      1.2) Steps
    //      1.3) Part2
    //      1.4) Part3
    //      1.1)
    // 2) Js
    //      2.1) Button Clicks
    //      2.2) Part 2 js
    //      2.3) Month vs Year
    //      2.4) Part 3 js
    //      2.5) Part 4 js
    //      2.6)



    // Variables

    // Buttons
    var button1 = document.getElementById("submit1");
    var button2 = document.getElementById("submit2");
    var button3 = document.getElementById("submit3");
    var button4 = document.getElementById("submit4");
    var back1 = document.getElementById("back1");
    var back2 = document.getElementById("back2");
    var back3 = document.getElementById("back3");
    var back4 = document.getElementById("back4");

    // Steps
    var first = document.getElementById("first");
    var second = document.getElementById("second");
    var third = document.getElementById("third");
    var fourth = document.getElementById("fourth");

    // Part2
    var Gender = false;
    var TimeDuration = " (Monthly) "
    var mainPrice = 0;
    var checkbox = document.getElementById("checkbox");
    var month = document.getElementById("month");
    var year = document.getElementById("year");
    var StreamChosen = "Arcade";



    // Part3
    const divInputs = document.getElementsByClassName("divInput");
    var extraPrice = 0;
    var OnlineServiceAddOnn = document.getElementById("OS");
    var LargeStorageAddOnn = document.getElementById("LS");
    var CustomizeProfileAddOnn = document.getElementById("CuzP");
    var onlineService = document.getElementById("OnService");
    var largerStorage = document.getElementById("LgStorage");
    var Cuzprofile = document.getElementById("CuzProfile");
    const AddOnns = [];

    // Part 4
    var stream = document.getElementById("stream");
    var BasicPrice = document.getElementById("BasicPrice");
    var changeStream = document.getElementById("change");
    var totalPrice = document.getElementById("FinalTotal");

    // js

    // Button clicks
    // Button 1 click (1 to 2)
    button1.addEventListener('click', function(){
        var Goo = true;
        if (CheckUserName()){
            TweenMax.to(document.getElementById("InvalidUsername"), 0.001, {display: 'inline', position: 'absolute'});
            Goo = false;
        }
        else{
            TweenMax.to(document.getElementById("InvalidUsername"), 0.001, {display: 'none' , position: 'relative'});
        }
        if (CheckPhone()){
            TweenMax.to(document.getElementById("InvalidPhone"), 0.001, {display: 'inline', position: 'absolute'});
            Goo = false;
        }
        else{
            TweenMax.to(document.getElementById("InvalidPhone"), 0.001, {display: 'none', position: 'relative'});
        }
        if (CheckEmail()){
            TweenMax.to(document.getElementById("InvalidEmail"), 0.001, {display: 'inline', position: 'absolute'});
            Goo = false;
        }
        else{
            TweenMax.to(document.getElementById("InvalidEmail"), 0.001, {display: 'none', position: 'relative'});
        }
        if (Goo){
            // Part 1 disappears 
            TweenMax.to(first, 0.5, {opacity: 0, ease: "sine.out"});
            TweenMax.to(first, 1.5, {scale:'0.5', zIndex:-1, ease: "sine.out"});

            // Part 2 appears
            TweenMax.to(second, 0.5, {opacity:'1', delay: 0.5, ease: "sine.out"}); 
            TweenMax.to(second, 0.5, {scale:'1', zIndex: 1, delay: 0.5, ease: "sine.out"});
        }
        
    })

    // Back 1 click (2 to 1)
    back1.addEventListener('click', function(){
    // Part 2 disappears 
    TweenMax.to(second, 0.5, {opacity: 0, ease: "sine.out"});
    TweenMax.to(second, 1.5, {scale:'1.25', zIndex:-10, ease: "sine.out"});

    // Part 1 appears
    TweenMax.to(first, 0.00000001, {scale: '0.85'}); 
    TweenMax.to(first, 0.5, {opacity:'1', delay: 0.5, ease: "sine.out"}); 
    TweenMax.to(first, 0.5, {scale:'1', zIndex: 10, delay: 0.5, ease: "sine.out"});
})

    // Button 2 click (2 to 3)
    button2.addEventListener('click', function(){
        Goo = true;
        if (!CheckAge()){
            TweenMax.to(document.getElementById('InvalidAge'), 0.001, {opacity: 1});
            Goo = false;
        }
        else{
            TweenMax.to(document.getElementById('InvalidAge'), 0.001, {opacity: 0});
        }

        if (!CheckDistance()){
            TweenMax.to(document.getElementById('InvalidDistance'), 0.001, {opacity: 1});
            Goo = false;
        }
        else{
            TweenMax.to(document.getElementById('InvalidDistance'), 0.001, {opacity: 0});
        }

        if (Goo){
        // Part 2 disappears 
        TweenMax.to(second, 0.5, {opacity: 0, ease: "sine.out"});
        TweenMax.to(second, 1.5, {scale:'0.5', zIndex:-1, ease: "sine.out"});

        // Part 3 appears
        TweenMax.to(third, 0.5, {opacity:'1', delay: 0.5, ease: "sine.out"}); 
        TweenMax.to(third, 0.5, {scale:'1', zIndex: 10, delay: 0.5, ease: "sine.out"});
        }
        }
    )

    // Back 2 click (3 to 2)
    back2.addEventListener('click', function(){
        // Part 3 disappears 
        TweenMax.to(third, 0.5, {opacity: 0, ease: "sine.out"});
        TweenMax.to(third, 1.5, {scale:'1.25', zIndex:-1, ease: "sine.out"});

        // Part 2 appears
        TweenMax.to(second, 0.00000001, {scale: '0.85'}); 
        TweenMax.to(second, 0.5, {opacity:'1', delay: 0.5, ease: "sine.out"}); 
        TweenMax.to(second, 0.5, {scale:'1', zIndex: 10, delay: 0.5, ease: "sine.out"});
    })
    // Button 3 click (3 to 4)
    button3.addEventListener('click', function(){
        Goo = true;

        if (!CheckInterest()){
            TweenMax.to(document.getElementById('InvalidInterest'), 0.001, {opacity: 1});
            Goo = false;
        }
        else{
            TweenMax.to(document.getElementById('InvalidInterest'), 0.001, {opacity: 0});
        }

        if (Goo){
        // Part 2 disappears 
        TweenMax.to(third, 0.5, {opacity: 0, ease: "sine.out"});
        TweenMax.to(third, 1.5, {scale:'0.5', zIndex:-1, ease: "sine.out"});

        // Part 3 appears
        TweenMax.to(fourth, 0.5, {opacity:'1', delay: 0.5, ease: "sine.out"}); 
        TweenMax.to(fourth, 0.5, {scale:'1', zIndex: 10, delay: 0.5, ease: "sine.out"});
        }
    })

    // Back 3 click (4 to 3)
    back3.addEventListener('click', function(){
        // Part 4 disappears 
        TweenMax.to(fourth, 0.5, {opacity: 0, ease: "sine.out"});
        TweenMax.to(fourth, 1.5, {scale:'1.25', zIndex:-1, ease: "sine.out"});

        // Part 3 appears
        TweenMax.to(third, 0.00000001, {scale: '0.85'}); 
        TweenMax.to(third, 0.5, {opacity:'1', delay: 0.5, ease: "sine.out"}); 
        TweenMax.to(third, 0.5, {scale:'1', zIndex: 10, delay: 0.5, ease: "sine.out"});
    })
    // Change click (4 to 2)
    changeStream.addEventListener('click', function(){
        // Part 4 disappears 
        TweenMax.to(fourth, 0.5, {opacity: 0, ease: "sine.out"});
        TweenMax.to(fourth, 1.5, {scale:'1.25', zIndex:-1, ease: "sine.out"});

        // Part 2 appears
        TweenMax.to(second, 0.00000001, {scale: '0.85'}); 
        TweenMax.to(second, 0.5, {opacity:'1', delay: 0.5, ease: "sine.out"}); 
        TweenMax.to(second, 0.5, {scale:'1', zIndex: 10, delay: 0.5, ease: "sine.out"});
        TweenMax.to(third, 0.01, {scale:'1.25', opacity: 0, zIndex:-1, ease: "sine.out"});


    })
    document.getElementById("ChangeAddOn").addEventListener('click', function(){
        // Part 4 disappears
        TweenMax.to(fourth, 0.5, {opacity: 0, ease: "sine.out"});
        TweenMax.to(fourth, 1.5, {scale: '1.25', zIndex:'-1', ease: "sine.out"});

        // Part 3 appears
        TweenMax.to(third, 0.00000001, {scale: '0.85'}); 
        TweenMax.to(third, 0.5, {opacity: 1, delay: 0.5, ease: "sine.out"});
        TweenMax.to(third, 0.5, {scale: 1, zIndex: 10, delay: 0.5, ease: "sine.out"});

    })
    // Button 4 click (4 to 5)
    submit4.addEventListener('click', function(){
        StoreInformation();
        // Part 4 disappears 
        TweenMax.to(fourth, 0.5, {opacity: 0, ease: "sine.out"});
        TweenMax.to(fourth, 1.5, {scale:'0.5', zIndex:-1, ease: "sine.out"});

        // Part 5 appears
        TweenMax.to(last, 0.5, {opacity:'1', delay: 0.5, ease: "sine.out"}); 
        TweenMax.to(last, 0.5, {scale:'1', zIndex: 10, delay: 0.5, ease: "sine.out"});

    })

    // Part 1 js
    function CheckUserName(){
        var element = document.getElementById("username").value;
        var pattern = /^[a-zA-Z \.]{2,}$/;
        return !pattern.test(element);
    }
    function CheckEmail(){
            var element = document.getElementById("email").value;
            if (element){
                var pattern = /([\w0-9]+)@([\w])+\.([\w]+([\.]\w+)?)/;
                return !pattern.test(element);
            }
            return false
        }
    
    function CheckPhone(){
        var element = document.getElementById("phoneNumber").value;
        var pattern = /^[\d]{3} ?[\d]{3} ?[\d]{4}$/;
        return !pattern.test(element);
    }    
    
    function CheckAge(){
        var element = document.getElementById("Age").value;
        var pattern = /^[\d]{1-3}/;
        if (element < 10 || element > 120){
            return false;
        }
        console.log(pattern.test(element));
        return !pattern.test(element);
    }

    function CheckDistance(){
        var element = document.getElementById("Distance").value;
        if (element < 0.1 || element > 100){
            return false;
        }
        return true;
    }

    function CheckInterest(){
        var element = document.getElementById("Interest").value;
        console.log(element);
        if (!element){
            return false;
        }
        
        return true;
    }

    // Part 2 js
    function streams(i){
        TweenMax.to(document.getElementById('NoStreamChosen'), 0.001, {display: 'none'})
        IfStreamChosen = true;
        Change = document.querySelectorAll("div.checkradio");
        
        Change.forEach(change);
        function change(item){
            if (item !== i){
                item.classList.remove("checkradio");
            }
        }

        To = i.parentElement;
        if (i.checked){
            To.classList.add("checkradio");
            StreamChosen = i.getAttribute("StreamName");
            if (Gender){
                mainPrice = parseInt(i.value) * 10;
            }
            else{
                mainPrice = parseInt(i.value);                
            }
        }
        else{
            To.classList.remove("checkradio");
        }
    }


    // Month vs Year
    function func(){
        if(checkbox.checked){
            Gender = true
            mainPrice *= 10;
            extraPrice *= 10;
            TimeDuration = " (Yearly) ";

            // Change to year
            year.classList.add('checked');
            year.classList.remove('notchecked');
            month.classList.remove('checked');
            month.classList.add('notchecked');

            // Change pricing to year
            document.getElementById("arcade").innerHTML = "₹90/yr";
            document.getElementById("pro").innerHTML = "₹150/yr";
            document.getElementById("advanced").innerHTML = "₹120/yr";

            // Change in part 3 to year
            document.getElementById("service").innerHTML = "+$10/yr";
            document.getElementById("storage").innerHTML = "+$20/yr";
            document.getElementById("profile").innerHTML = "+$20/yr";
            

            // Change in part 4 to year
            
        }
        else{
            Gender = false;
            mainPrice /= 10;
            extraPrice /= 10;
            TimeDuration = " (Monthly) ";
        

            // Change to month 
            month.classList.add('checked');
            month.classList.remove('notchecked');
            year.classList.remove('checked');
            year.classList.add('notchecked');

            // Change pricing to month
            document.getElementById("arcade").innerHTML = "₹9/mo";
            document.getElementById("pro").innerHTML = "₹15/mo";
            document.getElementById("advanced").innerHTML = "₹12/mo";

            // Change in part 3 to month
            document.getElementById("service").innerHTML = "+$1/mo";
            document.getElementById("storage").innerHTML = "+$2/mo";
            document.getElementById("profile").innerHTML = "+$2/mo";
           
        }


    }
    
    
    // Part 3 js
    function div(i){
        var ifChecked = i.getElementsByTagName("input")[0];
        if (ifChecked.checked){
            ifChecked.checked = false;
            i.classList.remove("checked3");
            if (Gender){
                extraPrice -= 10 * parseInt(ifChecked.getAttribute("toadd"));
            }
            else{
                extraPrice -= parseInt(ifChecked.getAttribute("toadd"));
            }
        }
        else{
            ifChecked.checked = true;
            i.classList.add("checked3");
            if (Gender){
                extraPrice += 10 * parseInt(ifChecked.getAttribute("toadd"));
            }
            else{
                extraPrice += parseInt(ifChecked.getAttribute("toadd"));
            }
            AddOnnName = i.getAttribute("onn");
            if (AddOnnName === "OS"){
                OnlineService = true;
            }
            if (AddOnnName === "LS"){
                LargeStorage = true;
            }
            if (AddOnnName === "CuzP"){
                CustomizeProfile = true;
            }
        }
    }
    

    // Part 4 js
    var TotalPriceAsInPrice;
    function part4(){
        // Progress:
        // To change final price to month or year

        // Change the money to year
        function moneyToYear(i){
            if (Gender){
                i.innerHTML = i.getAttribute("yearly");
            }
            else{
                i.innerHTML = i.getAttribute("monthly");
            }
        }
        if (Gender){
            document.querySelectorAll(".addOnnPriceIn4").forEach(moneyToYear);
        }
        else{
            document.querySelectorAll(".addOnnPriceIn4").forEach(moneyToYear);
        }
        
        // If to show add ons
        // No Add onns
        var addOnnPrice = mainPrice;
        if ((OnlineServiceAddOnn.classList.contains("checked3")) || (LargeStorageAddOnn.classList.contains("checked3")) || (CustomizeProfileAddOnn.classList.contains("checked3"))){
            TweenMax.to(document.getElementById("NoAddOnns"), 0.01, {display:"none"});
        }
        else {
            TweenMax.to(document.getElementById("NoAddOnns"), 0.01, {display:"flex"});
        }

        // Online Service checked
        if (OnlineServiceAddOnn.classList.contains("checked3")){
            AddOnns[AddOnns.length] = 'Online Service';
            if (Gender){
                addOnnPrice += 10;
            }
            else{
                addOnnPrice += 1;
            }
            TweenMax.to(onlineService, 0.01, {display:"flex"});
        }
        else{
            TweenMax.to(onlineService, 0.01, {display:"none"});
        }

        // Larger storage checked
        if (LargeStorageAddOnn.classList.contains("checked3")){
            if (Gender){
                addOnnPrice += 20;
            }
            else{
                addOnnPrice += 2;
            }
            TweenMax.to(largerStorage, 0.01, {display:"flex"});
        }
        else{
            TweenMax.to(largerStorage, 0.01, {display:"none"});
        }
        // Customizable Profile checked
        if (CustomizeProfileAddOnn.classList.contains("checked3")){
            if (Gender){
                addOnnPrice += 20;
            }
            else{
                addOnnPrice += 2;
            }
            TweenMax.to(Cuzprofile, 0.01, {display:"flex"});
        }
        else{
            TweenMax.to(Cuzprofile, 0.01, {display:"none"});
        }

        // Total Price
        totalPrice.innerHTML = "+$ " + addOnnPrice + "/mo";
        TotalPriceAsInPrice = addOnnPrice
    }

    // Part 5 js
    function StoreInformation(){
        var Username = document.getElementById('username').value;
        var Email = document.getElementById('email').value;
        var Phone = document.getElementById('phoneNumber').value;
        if (OnlineServiceAddOnn.classList.contains('checked3')){
            AddOnns[AddOnns.length] = 'Online Service';
        }
        if (LargeStorageAddOnn.classList.contains('checked3')){
            AddOnns[AddOnns.length] = 'Larger Storage';
        }
        if (CustomizeProfileAddOnn.classList.contains('checked3')){
            AddOnns[AddOnns.length] = 'Customizable Profile';
        }
        console.log(Username, "\n", Email, "\n", Phone, "\n", StreamChosen, "\n", Gender, "\n", AddOnns, "\n", TotalPriceAsInPrice);
    }

</script>

<!-- Colors and shit -->
<!-- - Marine blue: indigo-900
- Purplish blue: hsl(243, 100%, 62%)
- Pastel blue: hsl(228, 100%, 84%)
- Light blue: hsl(206, 94%, 87%)
- Strawberry red: hsl(354, 84%, 57%)

### Neutral

- Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu)
- Weights: 400, 500, 700
-->



